/* Font Styles */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.nav-name {
    font-family: 'Bebas Neue', cursive;


}

/* Header Section */



.banner-img {
    width: 80%;
}

span {
    color: #FA804C;
}

.banner-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

/* Casual Shoes Section */

.categories img {
    background-color: #F1F1F1;
    width: 100%;

}

.section-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}

.card-title {
    font-size: 24px;
}

.price-title {
    color: #FA804C;
    font-size: 36px;
    font-weight: 700;
}






/* Media Queries */

/* Smaller Devices */
@media screen and (max-width:576px) {
    .row {
        flex-direction: column-reverse;
    }
}


/* Mediam Devices */

@media screen and (min-width:577px) and (max-width:992px) {}
}